.location--container {
    height: 115vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../assets/pattern.png);

    .header--text {
        color: white;
        font-family: 'Pacifico', cursive;
        text-shadow: #000 0px 0px 20px;
    }

    .carousel--container {
        margin-top: 25px;
        transition: 0.85s;
        
        img {
            border-radius: 20px;
            max-height: 770px;
        }
    }
}

/* =================== MEDIA Queries (Medium Devices) ===================== */

@media screen and (max-width: 1024px) { 
    .location--container {
        height: 58vh;
    }
}

/* =================== MEDIA Queries (Small Devices) ===================== */

@media screen and (max-width: 600px) {
    .location--container {
        height: 50vh;
    }
}